global:
  scrape_interval: {{ labbot_prometheus_scrape_interval }}s # How frequently to scrape targets.
  evaluation_interval: 15s # How frequently to evaluate rules.
  scrape_timeout: {{ labbot_prometheus_scrape_interval }}s # How long until a scrape request times out.

scrape_configs:
  - job_name: labbot
    static_configs: [targets: [{{ bot_container.name }}:9900]]
  - job_name: cadvisor
    static_configs: [targets: [{{ cadvisor_container.name }}:8080]]
  - job_name: node_exporter
    static_configs: [targets: [{{ node_exporter_container.name }}:9100]]
