---
apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    orgId: 1
    uid: prometheus
    url: http://prometheus:9090
    isDefault: true
    basicAuth: true
    basicAuthUser: admin
    jsonData:
      httpMethod: POST
      prometheusType: Prometheus
      prometheusVersion: 2.50.1
      manageAlerts: true
      timeInterval: {{ labbot_prometheus_scrape_interval }}s
    secureJsonData:
      basicAuthPassword: "{{ labbot_prometheus_users[0].password }}"
