{% set dashboards_path = (grafana_container.volumes | select('match', '^(?!.*provisioning).*dashboards.*')
                          | map('split', ':') | flatten)[1] %}
---
apiVersion: 1

providers:
  - name: dashboards
    orgId: 1
    type: file
    disableDeletion: true
    updateIntervalSeconds: 10
    allowUiUpdates: false
    options:
      path: {{ dashboards_path }}
      foldersFromFilesStructure: false
